.card-container {
    background-color: var(--second-white);
    box-shadow: 0 0 15px var(--second-gray);
}

.button-add-order {
    background-color: var(--first-green);
}

.qualification-star-icon {
    color: var(--first-green);
}

.qualification-text {
    color: var(--tird-gray);
}